__Day 6__

__Groupby__:

__we use groupby() to split data into groups (Categorical COlumns), perform operations on each group independently, and then combine the results. This is especially useful for data aggregation, transformation, and analysis.__

__The main reason is to analyze data by categories or groups. Think of it as:__
__Split → Apply → Combine__

__When a column (say "Team" or "Category column") has repeated values, groupby() lets you collapse those repeats into a single group, and then you can perform operations like sum(), mean(), max() on the other columns within each group.__

__We mostly Apply  Group by on Categorical COlumns__

In [ ]:
"""
Think of it like:
Team	  Score
A	       10
A	       20
B	       15
B	       25
C	       30
"""
"groupby lets you first combine these Team columns and Perform Operations on Other COlumns(Score)"
"like sum,mean,max"
"df.groupby('Team')['Score'].sum()"
" this syntax is used "



"""We get like below
Team	Score (sum)
A	      30
B	      40
C	      30
"""

In [1]:
#importing library
import pandas as pd
import numpy as np

In [13]:
# reading Datafrom csv Files present in DATASETS folder

ipl_df=pd.read_csv("DATASETS/deliveries.csv")
movies_df=pd.read_csv("DATASETS/Copy of imdb-top-1000.csv")

In [14]:
movies_df.head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0

# Practicals Questions on groupby()

__Q1. Create the groupby object of Genre COlumn of above data and apply aggregate Functionon them (Sum,mean,max)__

In [15]:
Genre_Group=movies_df.groupby("Genre")

In [ ]:
Genre_Group.sum(numeric_only=True)

           Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action       22196       1367.3     72282412  3.263226e+10    10499.0
Adventure     9656        571.5     22576163  9.496922e+09     5020.0
Animation     8166        650.3     21978630  1.463147e+10     6082.0
Biography    11970        698.6     24006844  8.276358e+09     6023.0
Comedy       17380       1224.7     27620327  1.566387e+10     9840.0
Crime        13524        857.8     33533615  8.452632e+09     6706.0
Drama        36049       2299.7     61367304  3.540997e+10    19208.0
Family         215         15.6       551221  4.391106e+08      158.0
Fantasy        170         16.0       146222  7.827267e+08        0.0
Film-Noir      312         23.9       367215  1.259105e+08      287.0
Horror        1123         87.0      3742556  1.034649e+09      880.0
Mystery       1429         95.7      4203004  1.256417e+09      633.0
Thriller       108          7.8        27733  1.755074e+07       81.0
Western        593         33.4      1289665  5.822151e+07      313.0

In [20]:
Genre_Group.max(numeric_only=True)

           Runtime  IMDB_Rating  No_of_Votes        Gross  Metascore
Genre
Action         321          9.0      2303232  936662225.0       98.0
Adventure      228          8.6      1512360  874211619.0      100.0
Animation      137          8.6       999790  873839108.0       96.0
Biography      209          8.9      1213505  753585104.0       97.0
Comedy         188          8.6       939631  886752933.0       99.0
Crime          229          9.2      1826188  790482117.0      100.0
Drama          242          9.3      2343110  924558264.0      100.0
Family         115          7.8       372490  435110554.0       91.0
Fantasy         94          8.1        88794  445151978.0        NaN
Film-Noir      108          8.1       158731  123353292.0       97.0
Horror         122          8.5       787806  298791505.0       97.0
Mystery        138          8.4      1129894  474203697.0      100.0
Thriller       108          7.8        27733   17550741.0       81.0
Western        165          8.8       688390   31800000.0       90.0

In [21]:
Genre_Group.min(numeric_only=True)

           Runtime  IMDB_Rating  No_of_Votes        Gross  Metascore
Genre
Action          45          7.6        25312       3296.0       33.0
Adventure       88          7.6        29999      61001.0       41.0
Animation       71          7.6        25229     128985.0       61.0
Biography       93          7.6        27254      21877.0       48.0
Comedy          68          7.6        26337       1305.0       45.0
Crime           80          7.6        27712       6013.0       47.0
Drama           64          7.6        25088       3600.0       28.0
Family         100          7.8       178731    4000000.0       67.0
Fantasy         76          7.9        57428  337574718.0        NaN
Film-Noir      100          7.8        59556     449191.0       94.0
Horror          71          7.6        27007      89029.0       46.0
Mystery         96          7.6        33982    1035953.0       52.0
Thriller       108          7.8        27733   17550741.0       81.0
Western        132          7.8        65659    5321508.0       69.0

__Q2. Find TOp 3 Genres of Movies That Provide Highest Revenue__

In [ ]:
Genre_Group.sum()['Gross'].sort_values(ascending=False).head(3)

"Drama ,Action,Comedy are the top Revenue Movies"

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [ ]:
# other Way (More Better way because we Fetch the particular column first then apply function)
# usefull for large dataset COmputation
movies_df.groupby("Genre")['Gross'].sum().sort_values(ascending=False).head()
# Genre_Group['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama        3.540997e+10
Action       3.263226e+10
Comedy       1.566387e+10
Animation    1.463147e+10
Adventure    9.496922e+09
Name: Gross, dtype: float64

In [30]:
movies_df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

__Q3. Find the Genre Name with Highest Avg imbd rating__

In [33]:
movies_df.groupby("Genre")['IMDB_Rating'].mean().sort_values(ascending=False).head(3)

Genre
Western    8.350000
Crime      8.016822
Fantasy    8.000000
Name: IMDB_Rating, dtype: float64

__Q4. Find Director With most Popular (number of Votes)__

In [36]:
movies_df.groupby("Director")['No_of_Votes'].sum().sort_values(ascending=False).head(3)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
Name: No_of_Votes, dtype: int64

__Q5. FInd Highest rated Movie of Each Genre__

In [43]:
movies_df.groupby("Genre")[["Released_Year","Series_Title",'IMDB_Rating']].max().sort_values(by='IMDB_Rating',ascending=False)

          Released_Year                         Series_Title  IMDB_Rating
Genre
Drama              2020                            Zwartboek          9.3
Crime              2019                    À bout de souffle          9.2
Action             2019                              Yôjinbô          9.0
Biography          2020                              Zerkalo          8.9
Western            1976               The Outlaw Josey Wales          8.8
Adventure            PG                           Zombieland          8.6
Comedy             2020             Zindagi Na Milegi Dobara          8.6
Animation          2020          Ôkami kodomo no Ame to Yuki          8.6
Horror             2017                            The Thing          8.5
Mystery            2012                              Vertigo          8.4
Fantasy            1922                            Nosferatu          8.1
Film-Noir          1949                        The Third Man          8.1
Family             1982  Willy Wonka & the Chocolate Factory          7.8
Thriller           1967                      Wait Until Dark          7.8

__Q6.Find Number of Movies DIrected by Each Director__

In [53]:
movies_df['Director'].value_counts()

Director
Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Akira Kurosawa      10
Martin Scorsese     10
                    ..
Kinji Fukasaku       1
Eric Bress           1
Thomas Kail          1
Irvin Kershner       1
Lana Wachowski       1
Name: count, Length: 548, dtype: int64

In [51]:
movies_df.groupby("Director")['Series_Title'].count().sort_values(ascending=False)

Director
Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Martin Scorsese     10
Akira Kurosawa      10
                    ..
Alan J. Pakula       1
Alain Resnais        1
Aditya Dhar          1
Bob Persichetti      1
Steve McQueen        1
Name: Series_Title, Length: 548, dtype: int64

__Multiple Aggregations__

__We can apply multiple functions using .agg():__

In [54]:
movies_df.groupby('Genre')['IMDB_Rating'].agg(['sum', 'mean', 'max', 'count'])

              sum      mean  max  count
Genre
Action     1367.3  7.949419  9.0    172
Adventure   571.5  7.937500  8.6     72
Animation   650.3  7.930488  8.6     82
Biography   698.6  7.938636  8.9     88
Comedy     1224.7  7.901290  8.6    155
Crime       857.8  8.016822  9.2    107
Drama      2299.7  7.957439  9.3    289
Family       15.6  7.800000  7.8      2
Fantasy      16.0  8.000000  8.1      2
Film-Noir    23.9  7.966667  8.1      3
Horror       87.0  7.909091  8.5     11
Mystery      95.7  7.975000  8.4     12
Thriller      7.8  7.800000  7.8      1
Western      33.4  8.350000  8.8      4

# __Group By Attributes and Method__

In [ ]:
"""sum()	Total per group

mean()	Average per group

count()	Non-null count per group

size()	Total count (including nulls)

max() / min()	Max / Min value per group

agg()	Multiple aggregations

get_group('name')	Access data for one group

groups	Shows group keys and row indices

apply()	Apply any custom function to each group

transform()	Add results back to original DataFrame shape"""

- 1.__Count the Number of Rows in Each Group We use .size()__

In [61]:
movies_df.groupby('Genre')['IMDB_Rating'].size().sort_values(ascending=False)
#using Groupby

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Family         2
Fantasy        2
Thriller       1
Name: IMDB_Rating, dtype: int64

In [60]:
# other way
movies_df["Genre"].value_counts()

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: count, dtype: int64

- 2.__Count the total Number of Groups__

In [64]:
len(movies_df.groupby("Genre"))

14

In [62]:
#other way
movies_df["Genre"].nunique()

14

- 3.__to Get First and Last row of each Group__

__here We use first() and last() function__

__For Getting any Specific row of Each Group we use .nth(index)__

In [65]:
movies_df.groupby("Genre").first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [ ]:
# TO GET lAST ROW OF EACH GROUP
movies_df.groupby("Genre").last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [67]:
# to get specific Row of each Group
movies_df.groupby("Genre").nth(3)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
6,Pulp Fiction,1994,154,Crime,8.9,Quentin Tarantino,John Travolta,1826188,107928762.0,94.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
17,One Flew Over the Cuckoo's Nest,1975,133,Drama,8.7,Milos Forman,Jack Nicholson,918088,112000000.0,83.0
35,The Intouchables,2011,112,Biography,8.5,Olivier Nakache,Éric Toledano,760360,13182281.0,57.0
52,City Lights,1931,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,167839,19181.0,99.0
56,Kimi no na wa.,2016,106,Animation,8.4,Makoto Shinkai,Ryûnosuke Kamiki,194838,5017246.0,79.0
110,Das Boot,1981,149,Adventure,8.3,Wolfgang Petersen,Jürgen Prochnow,231855,11487676.0,86.0
145,Shutter Island,2010,138,Mystery,8.2,Martin Scorsese,Leonardo DiCaprio,1129894,128012934.0,63.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

- 4.__get_group("groupname")__

__To get the all Rows of any Group__

In [70]:
movies_df.groupby("Genre").get_group("Fantasy")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN

In [72]:
movies_df[movies_df['Genre']=='Fantasy']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN

- 6. __groups__

__This FUnction is used to Get the Dictionary of Group name : with values of Index positions of Our data whihc are grouped in that Group__

__Tracking Record Which Groups take which index value__

__group value → list of row indexes__

In [73]:
movies_df.groupby("Genre").groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

- 7. __.describe()__

__provide the same describe (Mathmatical calculation) of each Groups (Same as Series)__

In [74]:
movies_df.groupby("Genre").describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

- __9.sample()__

__Provide the sample view of each group__

In [77]:
movies_df.groupby("Genre").sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
155,Batman Begins,2005,140,Action,8.2,Christopher Nolan,Christian Bale,1308302,206852432.0,70.0
798,Interstate 60: Episodes of the Road,2002,116,Adventure,7.7,Bob Gale,James Marsden,29999,174381905.0,NaN
672,Majo no takkyûbin,1989,103,Animation,7.8,Hayao Miyazaki,Kirsten Dunst,124193,58564351.0,83.0
770,Control,2007,122,Biography,7.7,Anton Corbijn,Sam Riley,61609,871577.0,78.0
464,Dil Bechara,2020,101,Comedy,7.9,Mukesh Chhabra,Sushant Singh Rajput,111478,228629261.0,NaN
556,Strangers on a Train,1951,101,Crime,7.9,Alfred Hitchcock,Farley Granger,123341,7630000.0,88.0
196,Pink,2016,136,Drama,8.1,Aniruddha Roy Chowdhury,Taapsee Pannu,39216,1241223.0,NaN
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
456,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
119,Vertigo,1958,128,Mystery,8.3,Alfred Hitchcock,James Stewart,364368,3200000.0,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

- 10. __nunique()__

__PRovide the how much Unique ELements Are Present inEach Group__

In [80]:
movies_df.groupby("Genre").size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [78]:
movies_df.groupby("Genre").nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

- 11. __apply()__

__Apply custom function to each group.__

In [81]:
movies_df.groupby("Genre").apply(lambda x: x['Series_Title'].str.upper())

C:\Users\a\AppData\Local\Temp\ipykernel_4328\603265253.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movies_df.groupby("Genre").apply(lambda x: x['Series_Title'].str.upper())

Genre
Action    2                                        THE DARK KNIGHT
          5          THE LORD OF THE RINGS: THE RETURN OF THE KING
          8                                              INCEPTION
          10     THE LORD OF THE RINGS: THE FELLOWSHIP OF THE RING
          13                 THE LORD OF THE RINGS: THE TWO TOWERS
                                       ...
Thriller  700                                      WAIT UNTIL DARK
Western   12                       IL BUONO, IL BRUTTO, IL CATTIVO
          48                          ONCE UPON A TIME IN THE WEST
          115                           PER QUALCHE DOLLARO IN PIÙ
          691                               THE OUTLAW JOSEY WALES
Name: Series_Title, Length: 1000, dtype: object

- 12.__transfrom()__

__Returns a new column with the same size as the original DataFrame.Useful when you want to add results back into original rows.__

In [89]:
movies_df.groupby("Genre")['IMDB_Rating'].apply("mean")

Genre
Action       7.949419
Adventure    7.937500
Animation    7.930488
Biography    7.938636
Comedy       7.901290
Crime        8.016822
Drama        7.957439
Family       7.800000
Fantasy      8.000000
Film-Noir    7.966667
Horror       7.909091
Mystery      7.975000
Thriller     7.800000
Western      8.350000
Name: IMDB_Rating, dtype: float64

In [87]:
movies_df['Mean Rating']=movies_df.groupby("Genre")['IMDB_Rating'].transform("mean")

In [88]:
movies_df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,Mean Rating
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0,7.957439
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0,8.016822
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0,7.949419
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0,8.016822
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0,8.016822

- 12. __agg()__

__.agg() stands for aggregate. It lets you:__

__Apply one or multiple functions to one or more columns after grouping.Customize the output, including column names.__

In [ ]:
# 1 single function apply using agg() : pass the functions simply :
#  use ("method")
movies_df.groupby("Genre")['Gross'].agg("sum")

Genre
Action       3.263226e+10
Adventure    9.496922e+09
Animation    1.463147e+10
Biography    8.276358e+09
Comedy       1.566387e+10
Crime        8.452632e+09
Drama        3.540997e+10
Family       4.391106e+08
Fantasy      7.827267e+08
Film-Noir    1.259105e+08
Horror       1.034649e+09
Mystery      1.256417e+09
Thriller     1.755074e+07
Western      5.822151e+07
Name: Gross, dtype: float64

In [ ]:
#  multiple Functions apply using agg() :use list of functions:
# ['method1','methd2']


movies_df.groupby("Genre")['Gross'].agg(["sum",'mean','max','min'])

                    sum          mean          max          min
Genre
Action     3.263226e+10  1.897224e+08  936662225.0       3296.0
Adventure  9.496922e+09  1.319017e+08  874211619.0      61001.0
Animation  1.463147e+10  1.784326e+08  873839108.0     128985.0
Biography  8.276358e+09  9.404952e+07  753585104.0      21877.0
Comedy     1.566387e+10  1.010572e+08  886752933.0       1305.0
Crime      8.452632e+09  7.899656e+07  790482117.0       6013.0
Drama      3.540997e+10  1.225259e+08  924558264.0       3600.0
Family     4.391106e+08  2.195553e+08  435110554.0    4000000.0
Fantasy    7.827267e+08  3.913633e+08  445151978.0  337574718.0
Film-Noir  1.259105e+08  4.197018e+07  123353292.0     449191.0
Horror     1.034649e+09  9.405902e+07  298791505.0      89029.0
Mystery    1.256417e+09  1.047014e+08  474203697.0    1035953.0
Thriller   1.755074e+07  1.755074e+07   17550741.0   17550741.0
Western    5.822151e+07  1.455538e+07   31800000.0    5321508.0

In [ ]:
# applying different Functions on DIfferent COlumns using agg(): 
# pass DIctionary like
# {"Columns" : "method"}

"CUstom  Column Names (With Dict)"

movies_df.groupby("Genre").agg({
   "Runtime":"mean",
   "IMDB_Rating" :"mean",
   'No_of_Votes':"sum",
   'Metascore':"min",
   'Gross':"sum"
   })

              Runtime  IMDB_Rating  No_of_Votes  Metascore         Gross
Genre
Action     129.046512     7.949419     72282412       33.0  3.263226e+10
Adventure  134.111111     7.937500     22576163       41.0  9.496922e+09
Animation   99.585366     7.930488     21978630       61.0  1.463147e+10
Biography  136.022727     7.938636     24006844       48.0  8.276358e+09
Comedy     112.129032     7.901290     27620327       45.0  1.566387e+10
Crime      126.392523     8.016822     33533615       47.0  8.452632e+09
Drama      124.737024     7.957439     61367304       28.0  3.540997e+10
Family     107.500000     7.800000       551221       67.0  4.391106e+08
Fantasy     85.000000     8.000000       146222        NaN  7.827267e+08
Film-Noir  104.000000     7.966667       367215       94.0  1.259105e+08
Horror     102.090909     7.909091      3742556       46.0  1.034649e+09
Mystery    119.083333     7.975000      4203004       52.0  1.256417e+09
Thriller   108.000000     7.800000        27733       81.0  1.755074e+07
Western    148.250000     8.350000      1289665       69.0  5.822151e+07

In [102]:
#  multiple different Functions apply on DIfferent COlumns using agg() : use dictionary of
#  {"Column":['method1','method2']}
movies_df.groupby("Genre").agg({
   "Runtime":["mean",'min'],
   "IMDB_Rating" :["mean",'max'],
   'No_of_Votes':["sum",'mean'],
   'Metascore':["min",'max'],
   'Gross':"sum"
   })

              Runtime      IMDB_Rating      No_of_Votes                 \
                 mean  min        mean  max         sum           mean
Genre
Action     129.046512   45    7.949419  9.0    72282412  420246.581395
Adventure  134.111111   88    7.937500  8.6    22576163  313557.819444
Animation   99.585366   71    7.930488  8.6    21978630  268032.073171
Biography  136.022727   93    7.938636  8.9    24006844  272805.045455
Comedy     112.129032   68    7.901290  8.6    27620327  178195.658065
Crime      126.392523   80    8.016822  9.2    33533615  313398.271028
Drama      124.737024   64    7.957439  9.3    61367304  212343.612457
Family     107.500000  100    7.800000  7.8      551221  275610.500000
Fantasy     85.000000   76    8.000000  8.1      146222   73111.000000
Film-Noir  104.000000  100    7.966667  8.1      367215  122405.000000
Horror     102.090909   71    7.909091  8.5     3742556  340232.363636
Mystery    119.083333   96    7.975000  8.4     4203004  350250.333333
Thriller   108.000000  108    7.800000  7.8       27733   27733.000000
Western    148.250000  132    8.350000  8.8     1289665  322416.250000

          Metascore                Gross
                min    max           sum
Genre
Action         33.0   98.0  3.263226e+10
Adventure      41.0  100.0  9.496922e+09
Animation      61.0   96.0  1.463147e+10
Biography      48.0   97.0  8.276358e+09
Comedy         45.0   99.0  1.566387e+10
Crime          47.0  100.0  8.452632e+09
Drama          28.0  100.0  3.540997e+10
Family         67.0   91.0  4.391106e+08
Fantasy         NaN    NaN  7.827267e+08
Film-Noir      94.0   97.0  1.259105e+08
Horror         46.0   97.0  1.034649e+09
Mystery        52.0  100.0  1.256417e+09
Thriller       81.0   81.0  1.755074e+07
Western        69.0   90.0  5.822151e+07

# __Looping Over the Groupby__

In [ ]:
"Looping Over the groupby Object is simple"

"""
for group_name , group_df in df.groupby("Genres"):
  
group_name: It gives the Name of Each Group one by one 
group_df : It gives the Full Data Frame Associated with That Group 


"""

In [104]:
Mygroup=movies_df.groupby("Genre")
Mygroup

In [111]:
for groupname,gropdataframe in Mygroup:
    print(groupname)

Action
Adventure
Animation
Biography
Comedy
Crime
Drama
Family
Fantasy
Film-Noir
Horror
Mystery
Thriller
Western

In [ ]:
for name,dataframe in Mygroup:
    RequiredData=['Comedy','Acion']
    if name in RequiredData:
        print(f"Department: {name}")
        print(dataframe.head(1))
        print("---")

# wecan perform any custom logic ussing the For looops on Groupby objects

Department: Comedy
    Series_Title Released_Year  Runtime   Genre  IMDB_Rating      Director  \
19  Gisaengchung          2019      132  Comedy          8.6  Bong Joon Ho

           Star1  No_of_Votes       Gross  Metascore  Mean Rating
19  Kang-ho Song       552778  53367844.0       96.0      7.90129
---

__Why loop like this?__
__WE can:__

**Apply different logic for each group**

**Do custom calculations, transformations**

**Write group-specific files, plots, summaries, etc.**

In [ ]:
for group,data in Mygroup:
    print(data['IMDB_Rating']==data['IMDB_Rating'].max())

NameError: name 'Mygroup' is not defined